.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
  }
  
  .brand {
    margin-right: auto;
    padding-left: 15px;
  }
  
  .tabs {
    margin-left: auto;
    padding-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .tabs span, .tabs button {
    margin: 0 10px;
  }
  
  .mode-toggle-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mode-icon {
    width: 20px;
    height: 20px;
  }
  
  .light-mode {
    background-color: #805AD5;
  }
  
  .dark-mode {
    background-color: #FBD38D;
  }
  